<!DOCTYPE html>
<html lang="en">
<head>
    <!--声明编码方式为UTF-8，防止中文乱码-->
    <meta charset="UTF-8">
    <!--兼容IE浏览器.这样写可以达到的效果是：如果安装了GCF（谷歌内嵌浏览器框架），则使用GCF来渲染页面；如果未安装GCF，则使用最高版本的IE内核进行渲染。-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--自适应网页.用于移动开发，让当前viewport的宽度等于设备的宽度（content中的两者同时存在才能兼容所有移动设备浏览器）-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="html 前端 js 学习">
    <meta name="description" content="此网站是汇集前端学习的宝地">
    <!--网页头像图标(16*16或者32*32)-->
    <link rel="shortcut icon" href="../static/images/medal.png">
    <title>Self-fruits</title>

    <!--bootstrap响应式布局-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!--layui布局-->
    <link rel="stylesheet" href="../static/js/layui/layui.css">
    <!--layer弹出层-->
    <link rel="stylesheet" href="../static/js/layui/css/modules/layer/default/layer.css">
    <!--easydialog弹出框-->
    <link rel="stylesheet" href="../static/js/easydialog/easydialog.css">
    <!--fontawesome图标字体-->
    <link rel="stylesheet" href="../static/css/fonts/fontawesome/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="../static/css/fonts/fontawesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--swiper轮播-->
    <link rel="stylesheet" href="../static/js/swiper/swiper-3.4.2.min.css">
    <!--日期范围/日期时间-->
    <link rel="stylesheet" href="../static/js/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../static/js/datetimepicker/bootstrap-datetimepicker.min.css">
    <!--菜单-->
    <link rel="stylesheet" href="../static/js/metismenu/metisMenu.css">
    <!--自定义样式-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!--jquery库，是其他js文件引用的基础-->
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <!--validate表单验证/message中文-->
    <script src="../static/js/validate/jquery.validate.min.js"></script>
    <script src="../static/js/validate/messages_zh.js"></script>
    <!--easydialog弹出框-->
    <script src="../static/js/easydialog/easydialog.min.js"></script>
    <!--layui布局-->
    <script type="text/javascript" src="../static/js/layui/layui.js"></script>
    <script type="text/javascript" src="../static/js/layui/lay/modules/laypage.js"></script>
    <!--layer弹出层-->
    <script type="text/javascript" src="../static/js/layui/css/modules/layer/layer.js"></script>
    <!--swiper轮播-->
    <script src="../static/js/swiper/swiper-3.4.2.min.js"></script>
    <!--日期范围/日期时间-->
    <script src="../static/js/daterangepicker/moment.min.js"></script>
    <script src="../static/js/daterangepicker/daterangepicker.js"></script>
    <script src="../static/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!--菜单-->
    <script src="../static/js/metismenu/metisMenu.js"></script>
    <!--自定义JS-->
    <script src="../static/js/xenon-main.js"></script>
    <script src="../static/js/xenon-dialog.js"></script>
    <!--shop_search搜索-->
    <script>
        function shop_search(){
            var search_name = $('#search_name').val();
            $("#result").html(search_name);
            console.log(search_name);
            var btnSn = function( e ){
            };
            var btnFn = function () {
                easyDialog.close();
            };
            if(!search_name){
//                easyDialog.open({
//                    container : {
//                        header : "搜索",//header：包含弹出层的标题和关闭按钮
//                        content : "<strong>请输入商铺名称！</strong>（3s后自动关闭...）",//content：包含弹出层的内容
//                        yesFn : btnSn,//弹出层的脚：确定按钮及回调函数
//                        noFn : btnFn,//取消按钮，为false时将不显示按钮
//                        fixed : true//fixed：该参数为true时，弹出窗口为固定定位（跟随页面的滚动而滚动）
//                    },
//                    overlay : true,//overlay：该参数为false时，将不显示遮罩层，默认为true
//                    autoClose : 3000//autoClose：自动关闭窗口，单位为毫秒(ms)
////                                drag : false//drag：该参数为false时将关闭拖拽的功能
//
//                });
//                $("#easyDialogYesBtn").focus();//将光标聚焦到弹出框的确定按钮上
//                return false;
                ConfirmWarning("搜索","请输入商铺名称！",btnSn)
//                layer.msg("请输入商铺名称！")
            }
            else{
                $('#shopSearch').submit();//提交表单
            }
        }
        function countDown() {
            var waitCountdown=3;
            setTimeout("countDown()",1000);
            if(waitCountdown=0){
                waitCountdown=3;
            }else{
                waitCountdown--
            }
        }
    </script>
</head>
<body>
<!--settings pane顶部隐藏部分-->
<div class="settings-pane" id="switch_id">
    <a href="#" class="setting-close" data-toggle="settings-pane" data-animate="true">
        &times;
    </a>
    <div class="settings-pane-inner">
        <div class="row">
            <div class="col-md-4">
                <div class="user-info">
                    <div class="user-image">
                        <a href="#">
                            <img src="../static/images/default.png" class="img-responsive img-circle"
                                 style="max-height:130px; max-width:128px;" alt="user-img"/>
                        </a>
                    </div>
                    <div class="user-details">
                        <h3>
                            <a href="#">root</a>
                            <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                            <span class="user-status is-online"></span>
                        </h3>
                        <p class="user-title">欢迎root</p>
                        <div class="user-links">
                            <a href="#" class="btn btn-primary">编辑</a>
                            <a href="#" class="btn btn-success" data-toggle="settings-pane" data-animate="true">合并</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link-bcks-env" style="margin-top:40px;float:right;">
                <span style="font-size:30px;">威非运营管理云平台</span>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <!-- left menu公共菜单部分 -->
    <div class="sidebar-menu toggle-others">
        <div class="sidebar-menu-inner">
            <header class="logo-env">
                <!-- logo -->
                <div class="logo">
                    <a href="index.html" class="logo-expanded">
                        <img src="../static/images/logo-zte.png" width="204" alt="" />
                        <div class="sidebar-menu-inner-omcp" >ZXWL OMCP</div>
                    </a>
                </div>
                <!--setting按钮-->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane">
                        <i class="glyphicon glyphicon-cog"></i>
                    </a>
                </div>
            </header>
            <ul id="main-menu" class="main-menu metismenu">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i><span class="title">主页</span>
                    </a>
                </li>
                <!--商铺-->
                <li>
                    <a href="" class="has-arrow">
                        <i class="fa fa-cog"></i><span class="title">商铺管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="validate_date.html">
                                <span class="title">表单验证</span>
                            </a>
                        </li>
                        <li>
                            <a href="倒计时swiper.html">
                                <span class="title">倒计时</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">商铺列表</span>
                            </a>
                        </li>
                        <li id="shopAdmin_list" class="admin">
                            <a href="#">
                                <span class="title">商铺管理员</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--设备-->
                <li>
                    <a href="" class="has-arrow">
                        <i class="fa fa-desktop"></i><span class="title">设备管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title">AC列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">AP列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">热点列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--系统-->
                <li>
                    <a href="" class="has-arrow">
                        <i class="fa fa-cogs"></i><span class="title">系统设置</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#"><span class="title">二级菜单</span></a>
                        </li>
                        <li>
                            <a href="#" class="has-arrow"><span class="title">认证登录配置</span></a>
                            <ul>
                                <li>
                                    <a href="#"><span class="title">短信模板设置</span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="title">短信模板列表</span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="title">微信认证设置</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                </ul>
            </div>
        <!--菜单底部.特殊符号代码-->
        <div style="text-align: center;color: #fff;font-size: 12px;margin-top: 30px;">
            上海中兴通讯技术股份有限公司版权所有 &copy;2015
        </div>
    </div>
    <!--right-->
    <div class="main-content">
        <!--right top-->
        <nav class="navbar user-info-navbar">
            <ul class="user-info-menu">
                <li class="hiden-sm">
                    <a href="#" data-toggle="sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
            <form id="change_language_form">
                <input type="hidden">
                <select class="change_language">
                    <option value="en">English</option>
                    <option value="zh-hans" selected>中文简体</option>
                </select>
            </form>
            <ul class="user-info-setting">
                <li class="dropdown user-profile">
                    <a href="#" id="user-profile">
                        <img src="../static/images/default.png">
                        <span>root<i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="user-profile-menu">
                        <li>
                            <a href="#"><i class="fa fa-edit"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench"></i>设置</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user"></i>个人信息</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-info-circle"></i>帮助</a>
                        </li>
                        <li>
                            <a href="#" class="not"><i class="fa fa-lock"></i>退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="right-top-title">
                <span>威非运营管理云平台</span>
            </div>
        </nav>
        <!--right page-title-->
        <div class="page-title">
            <!--面包屑导航栏-->
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#"><i class="fa fa-home"></i>主页</a>
                    </li>
                    <li>
                        <a href="#">商铺列表</a>
                    </li>
                    <li class="active">
                        <strong>添加子商铺</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="page-title-top">
            <div class="top top-1">
                <span>当前商铺：</span>
                <span>shop1</span>
                <a href="javascript:void(0)" id="shop_switch">[切换商铺]</a>
            </div>
            <div class="top top-2">
                <span>登录用户：</span>
                <span>bdyun</span>
            </div>
            <div class="top top-3">
                <span id="date" style="padding-right: 5px"></span>
            </div>
            <div class="top top-4">
                <a href="about:blank" style="color: #000;">关闭</a>
            </div>
        </div>
        <!--切换商铺弹出框-->
        <div class="theme-popover">
            <div class="theme-popover-title">
                <a href="javascript:void(0)" class="theme-popover-close" ><i class="fa fa-close"></i></a>
                <h3>选择商铺</h3>
            </div>
            <ul class="theme-popover-content">
                <li>
                    <span>一级商铺：</span>
                    <a class="active" href="#">shop1</a>|
                    <a href="#">shop2</a>|
                </li>
                <li>
                    <span>二级商铺：</span>
                    <a href="#">shop1_1</a>|
                </li>
            </ul>
        </div>
        <div class="theme-popover-mask"></div>

        <!--right content-->
        <!--highcharts-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">highcharts</span>
                <div class="panel-options">
                    <a href="#"><i class="fa fa-minus"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="container"></div>
            </div>
        </div>



        <!--商铺列表-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">商铺列表</span>
                <div class="panel-options">
                    <a href="#"><i class="fa fa-minus"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <form action="index.html" method="get" id="shopSearch">
                    <div class="button-box">
                        <a class="btn btn-default" href="validate_date.html" title="validate表单验证/datepicker日期">validate/datepicker</a>
                        <a class="btn btn-default" href="倒计时swiper.html" title="倒计时/轮播swiper">倒计时/轮播</a>
                    </div>
                    <div class="input-group col-sm-3">
                        <input class="form-control" name="search_name" id="search_name" placeholder="商铺名称">
                        <span class="input-group-addon"><i class="fa fa-search" onclick="shop_search()"></i></span>
                    </div>
                    <label id="result" class="tip"></label>
                </form>
                <script>
                    //使用for循环，给table添加动态数据
                    $(document).ready(function () {
                        var id=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];
                        var shopname=[
                            'bdyun1','bdyun2','bdyun3','bdyun4','bdyun5','bdyun6','bdyun7','bdyun8',
                            'bdyun9','bdyun10','bdyun11','bdyun12','bdyun13','bdyun14','bdyun15','bdyun16'];
                        var shopmanager=[
                            'owner1','owner2','owner3','owner4','owner5','owner6','owner7','owner8',
                            'owner9','owner10','owner11','owner12','owner13','owner14','owner15','owner16'];
                        //调用date格式，自定义format("yyyy-MM-dd EEE hh:mm:ss");
                        var time=(new Date()).format("yyyy年MM月dd日 星期E hh:mm:ss");
//                        console.log(time);
                        var addItem=[];
                        for (var i = 0; i < id.length; i++) {
                            addItem +=
                                '<tr>' +
                                    '<td>'+id[i]+'</td>' +
                                    '<td>'+shopname[i]+'</td> ' +
                                    '<td>'+shopmanager[i]+'</td> ' +
                                    '<td>'+time+'</td> ' +
                                    '<td> ' +
                                        '<div> ' +
                                            '<a class="btn btn-default btn-xs">修改</a> ' +
                                            '<a class="btn btn-default btn-xs">信息</a> ' +
                                            '<a class="btn btn-default btn-xs">添加子商铺</a> ' +
                                        '</div> ' +
                                    '</td> ' +
                                '</tr>';
                        }
//                        alert(addItem);
                        document.getElementById("addItem").innerHTML=addItem;

                        //分页展示table列表
                        layer.msg('hhhhhh');
                        layui.use('laypage', function(){
                            var laypage = layui.laypage;
                            laypage.render({
                                elem: 'demo7'
                                ,count: addItem.length
                                ,curr: location.hash.replace('#!fenye=', '1') //获取起始页
                                ,hash: 'fenye' //自定义hash值
                                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                                ,jump: function(obj){
                                    window.location.href="index.html#!fenye=1"
                                }
                            });
                        })
                    })
                </script>
                <table class="table table-bordered table-condensed table-striped table-hover" id="shop_table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>商铺名</th>
                            <th>铺主</th>
                            <th>注册时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="addItem"></tbody>
                </table>

                <!--分页-->
                <!--<ul class="pagination page-count">-->
                    <!--<li><a href="javascript:void(0)" onclick="goPage()">首页</a></li>-->
                    <!--<li><a href="javascript:void(0)" onclick="goPage()"><i class="fa fa-angle-left"></i></a></li>-->
                    <!--<li><a href="javascript:void(0)" onclick="goPage()" class="active">1</a></li>-->
                    <!--<li><a href="javascript:void(0)" onclick="goPage()">2</a></li>-->
                    <!--<li><a href="javascript:void(0)" onclick="goPage()"><i class="fa fa-angle-right"></i></a></li>-->
                    <!--<li><a href="javascript:void(0)" onclick="goPage()">尾页</a></li>-->
                <!--</ul>-->
                <div id="demo7"></div>
            </div>
        </div>
        <!--right bottom-->
        <footer>
            <div class="go-top">
                <a href="javascript:void(0)">
                    <span>回到顶部</span>
                    <i class="fa fa-eject"></i>
                </a>
            </div>
        </footer>
    </div><!--right-->
</div>
</body>
</html>